---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume | Robert Dudley" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-5 text-justify">
    With over 12 years in UX, I have expertly applied various tools and
    methodologies to deliver exceptional user experiences, especially in
    collaborative, tech-driven environments. At Dillard's, I was a founder of
    the UX practice, introducing a comprehensive design framework and effective
    usability standards. At BeyondTrust, I furthered this commitment by leading
    the creation of a design system to serve designers, developers, and
    stakeholders alike. Additionally, I helped grow the team through better
    design processes and helped mentor and coach designers within their product
    areas.
  </div>
  <div class="mb-10 text-justify">
    I am deeply passionate about improving usability, accessibility, and user
    satisfaction. I have been extremely fortunate over the years to learn from
    many talented UX professionals. At the end of the day, my goal is simple: I
    want to deliver exceptional experiences to our users that align with their
    needs.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="UX Architecture Manager, BeyondTrust"
      subtitle="January 2022 to September 2023 - Remote"
    >
      <ul class="list-disc md:columns-1 columns-1 mx-6 mb-5">
        <li>
          Led a team of UX Engineers, Information Architects, and UX Writers to
          design, develop, and deliver an in-house design system for
          BeyondTrust's products.
        </li>
        <li>
          Collaborated with UX designers to build coded, high-fidelity
          prototypes to test design concepts while providing usability heuristic
          feedback.
        </li>
        <li>
          Collaborated with Product Managers, Product Owners, and other
          Engineering leaders to plan and prioritize implementation of the
          Design System standards.
        </li>
      </ul>
    </TimeLineElement>

    <TimeLineElement
      title="Lead UX Prototyper, BeyondTrust"
      subtitle="March 2021 to January 2022 - Remote"
    >
      <ul class="list-disc md:columns-1 columns-1 mx-6 mb-5">
        <li>
          Created a component library for rapid delivery of prototypes for user
          testing.
        </li>
        <li>
          Collaborated with UX designers to build coded, high-fidelity
          prototypes to test design concepts while providing usability heuristic
          feedback.
        </li>
        <li>
          Conducted an accessibility analysis for various BeyondTrust products
          based on VPAT feedback.
        </li>
      </ul>
    </TimeLineElement>

    <TimeLineElement
      title="Senior UX Researcher, BeyondTrust"
      subtitle="April 2020 to March 2021 - Remote"
    >
      <ul class="list-disc md:columns-1 columns-1 mx-6 mb-5">
        <li>
          Conducted heuristic evaluations and qualitative studies of
          BeyondTrust's Password Safe product using the existing product
          experience and validated “to-be” interfaces.
        </li>
        <li>
          Worked with designers, product managers, and engineers to plan the
          best path forward to improve the user experience.
        </li>
      </ul>
    </TimeLineElement>

    <TimeLineElement
      title="UX Developer, Marketing, BeyondTrust"
      subtitle="February 2017 to April 2020 - Remote"
    >
      <ul class="list-disc md:columns-1 columns-1 mx-6 mb-5">
        <li>
          Designed and developed the experience for www.beyondtrust.com to
          enhance lead generation and usability to help users discover and learn
          about BeyondTrust's products.
        </li>
        <li>
          Implemented A/B testing platform to grow Marketing's lead generation.
        </li>
      </ul>
    </TimeLineElement>

    <TimeLineElement
      title="UX Designer / Researcher, Dillard's"
      subtitle="December 2011 to February 2017 - Little Rock, AR"
    >
      <ul class="list-disc md:columns-1 columns-1 mx-6 mb-5">
        <li>
          Designed and implemented the user experiences and accessibility best
          practices for enterprise applications and eCommerce platform.
        </li>
        <li>
          Established a front-end framework to unify the user experience within
          the suite of enterprise applications.
        </li>
        <li>
          Conducted qualitative and quantitative studies with enterprise users
          to uncover pain points and inefficiencies in their experience with
          high-touch applications.
        </li>
        <li>
          Designed solutions to make them more efficient in their day-to-day
          tasks.
        </li>
      </ul>
      <h4><b>Top Projects</b></h4>
      <ul class="list-disc md:columns-1 columns-1 mx-6 mb-5">
        <li>
          <b>Risk Management:</b> system to manage incidents across Dillard's 300+
          locations.
        </li>
        <li>
          <b>Product Attribution (MDM solution):</b> Design and test product attribution
          process for 100+ users with 1,000,000+ products for improved forecasting
          and analysis.
        </li>
        <li>
          <b>Dillards.com (eCommerce):</b> Responsive redesign from the ground up.
          Focused on accessibility, mobile, and tablet design.
        </li>
        <li>
          <b>Enterprise Image Management:</b> Utilized contextual inquiries to identify
          non-value add activities. Created designs for application to track the
          touchpoints from image creation to publishing on dillards.com.
        </li>
      </ul>
    </TimeLineElement>

    <TimeLineElement
      title="Mainframe Application Developer, Dillard's"
      subtitle="May 2010 to December 2011 - Little Rock, AR"
    >
      <ul class="list-disc md:columns-1 columns-1 mx-6 mb-5">
        <li>
          Developed and maintained COBOL programs for Dillard's Inventory
          Management Systems.
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="BSBA, Information Systems | University of Arkansas"
      subtitle="Walton College of Business, 2006 - 2010"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-2 columns-2 mx-6 mb-10">
    <li>Conducting user research</li>
    <li>Developing product designs</li>
    <li>Collaborating through Design Sprints and workshops</li>
    <li>Implementing design systems and component libraries</li>
    <li>Creating workflows with GitHub Actions and Docker</li>
    <li>
      Significant Front-end development experience with HTML, CSS, JS, Angular
    </li>
    <li>
      Extensive experience planning and documenting with Jira & Confluence
    </li>
    <li>Collaborating and creating designs in Figma</li>
    <li>Problem-solving</li>
    <li>Prioritization & planning</li>
    <li>Developing product roadmaps</li>

    <li>Experience leading Agile development teams</li>
    <li>Providing constructive feedback and listening to my teammates</li>
    <li>
      Ability to combine research and design recommendations with technical
      constraints to produce solutions to meet business and user outcomes
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://www.nngroup.com/ux-certification/people/"
        target="_blank"
        style="text-decoration: underline;">UX Master Certification from NN/g</a
      > - 1002824 - Achieved Oct 2023
    </li>
  </ul>
</BaseLayout>
